:root{
    --green-btn-colour: #12c739; 
    --red-btn-colour: #c61a09;
    --teal-colour: #116c6e;
    --matte-black: #28282B;
}

@font-face {
    font-family: MainFiatFont;
    src: url(DenkOne.ttf);
}

.utility{
    border: 1px solid blue;
}

body{
    background-color: #dddddd;
    font-family: MainFiatFont;
    font-weight: bold;
    color: #F51E1E;
}

img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: linear-gradient(to top, #dddddd 0.85, transparent );
}

.img-wrapper{
 text-align: center;
}

.title-wrapper{
    margin-top: 20px;
}

.title{
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
}

.point-block1{
    display: flex;
    justify-content: space-evenly;
}

h2{
    text-align: center;
}

#increase-btn-dani, #increase-btn-zsani {
    background-color: var(--green-btn-colour);
    font-family: MainFiatFont;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
    font-size: 1.2em;
    width: 80px;
    cursor: pointer;
}

#decrease-btn-dani, #decrease-btn-zsani {
    background-color: var(--red-btn-colour);
    font-family: MainFiatFont;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
    font-size: 1.2em;
    width: 80px;
    cursor: pointer;
}

#increase-btn-dani:hover, #increase-btn-zsani:hover{
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

#increase-btn-dani:focus, #increase-btn-zsani:focus{
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

#decrease-btn-dani:hover, #decrease-btn-zsani:hover{
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

#decrease-btn-dani:focus, #decrease-btn-zsani:focus{
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

.reset-btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.blue-btn{
    padding: 15px;
    width: 200px;
    background: var(--teal-colour);
    font-family: MainFiatFont;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
}

.reset-btn:hover{
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

.reset-btn:focus{
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

.rules{
    margin-top: 100px;
}

.rules-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rule-input{
    width: 400px;
    padding: 15px;
    background-color: #dddddd;
    border: 3px solid #fff;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rule-input::placeholder{
    font-family: MainFiatFont;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--matte-black);
}

#rule-btn{
    width: 190px;
    margin-right: 5px;
}

.ol-el{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

ol li{
    padding: 8px 16px;
    margin-top: 5px;
    font-size: 1.2em;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.delete-btn{
    width: 190px;
    margin-left: 5px;
    padding: 15px;
    background:var(--red-btn-colour);
    font-family: MainFiatFont;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
}